aenum==3.1.8
altair==4.2.2
appdirs==1.4.4
APScheduler==3.8.1
async-generator==1.10
attrs==22.2.0

bcrypt==4.0.1

blinker==1.5

bs4==0.0.1
cachetools==5.3.0
case-conversion==2.1.0
certifi==2023.5.7
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
clean-text==0.4.0
click==8.1.3
clipboard==0.0.4

contourpy==1.0.7
cryptography==36.0.1
cursor==1.3.4
cycler==0.11.0
decorator==4.4.2
delegator.py==0.1.1
deta==1.1.0
dill==0.3.4
distro==1.8.0
docker==6.1.2
docker-cli==1.0.2
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
emoji==2.4.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.1
extra-streamlit-components==0.1.56

fonttools==4.39.4
ftfy==6.1.1
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
gitdb==4.0.10
GitPython==3.1.31
grafana==0.0.1
grafana-api==1.0.3
h11==0.14.0
html-text==0.5.2
idna==3.2
imageio==2.15.0
imageio-ffmpeg==0.4.5
importlib-metadata==6.0.0
importlib-resources==5.12.0
infi.systray==0.1.12
inflect==5.4.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
jsonschema==4.17.3


kiwisolver==1.4.4
lxml==4.7.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.7.1
maybe-else==0.2.1
mbstrdecoder==1.1.0
mdurl==0.1.2
MouseInfo==0.1.3
moviepy==1.0.3
msal==1.16.0
msoffcrypto-tool==5.0.0
msrest==0.6.21
numpy==1.21.4
O365==2.0.18.1
oauthlib==3.2.0
office365==0.3.15
Office365-REST-Python-Client==2.3.10
olefile==0.46
openpyxl==3.0.9
outcome==1.2.0
packaging==23.0
pandas==1.3.4
paramiko==3.2.0
parsedatetime==2.6
pathmagic==0.3.14
pdfkit==1.0.0
pexpect==4.8.0
Pillow==8.3.2
plotly==5.13.0
prettierfier==1.0.3
proglog==0.1.9
protobuf==3.20.3
psutil==5.8.0
ptyprocess==0.7.0
pyarrow==11.0.0
PyAutoGUI==0.9.53
pycparser==2.21
pydeck==0.8.0
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.14.0
pyinstrument==4.1.1
pyiotools==0.3.18
PyJWT==2.3.0
pymiscutils==0.3.14
Pympler==1.0.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynput==1.7.6
pyparsing==3.0.9
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223

PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
PySocks==1.7.1
pysubtypes==0.3.18
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-firebase==1.2
python-http-client==3.3.7
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.4

PyYAML==6.0
readchar==3.0.5
regex==2022.1.18
requests==2.26.0
requests-oauthlib==1.3.1
rich==13.3.1
s3transfer==0.5.0
seaborn==0.12.2
selenium==4.9.1
semver==2.13.0
Send2Trash==1.8.0
sendgrid==6.11.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.1
starkbank-ecdsa==2.2.0
streamlit==1.18.1
streamlit-authenticator==0.2.1
streamlit-option-menu==0.3.2
stringcase==1.2.0
tabulate==0.8.9
tenacity==8.2.1
termcolor==1.1.0
texttable==1.6.7
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.62.3
trio==0.22.0
trio-websocket==0.10.2
typepy==1.3.0
typing-extensions==4.5.0
tzdata==2021.5
tzlocal==4.1
Unidecode==1.3.6
urllib3==1.26.6
validators==0.20.0
watchdog==2.2.1
wcwidth==0.2.6
webdriver-manager==4.0.1
webdrivermanager==0.10.0
websocket-client==0.59.0
Werkzeug==2.2.3
wikipedia==1.4.0
wsproto==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
zipp==3.14.0
